
/* CONTAINER */
.PanelContainer{
  --sidebar: 50%;
  --sidebarClamped: clamp(10%, var(--sidebar), calc(100% - 10%));
  background-color: black;
  display: grid;
  height: 100%;
  width: 100%;
}

.NoEditor{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  color: white;
}

.Horizontal {
  grid-auto-flow: column;
  grid-template-columns: var(--sidebarClamped) 1fr;
}

.Vertical {
  grid-auto-flow: row;
  grid-template-rows: var(--sidebarClamped) 1fr;
}

.NoSplit > .Second {
  display: none;
}


/* CHILDREN */
.First{
  position: relative;
  background-color: aqua;
  overflow: hidden;
}

.Second{
  background-color: brown;
  overflow: hidden;
}

/* RESIZER */
.Resizer{
  position: absolute;
  touch-action: none;
}

.ResizerHorizontal{
  height: 100%;
  width: 20px;
  top: 0;
  right: -10px;
  cursor: ew-resize;
}

.BorderRight{
  border-right: 1px solid black;
}

.ResizerVertical{
  height: 20px;
  width: 100%;
  Bottom: -10px;
  cursor: ns-resize;
}

.BorderBottom{
  border-bottom: 1px solid black;
}

.ResizerHorizontal::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: coral;
  opacity: 0;
  transform: scaleX(0);
  transition: .3s;
}

.ResizerVertical::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: coral;
  opacity: 0;
  transform: scaleY(0);
  transition: .3s;
}



.ResizerHorizontal:hover::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: coral;
  transform: scaleX(0.2);
  opacity: 1;
}

.ResizerVertical:hover::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: coral;
  transform: scaleY(0.2);
  opacity: 1;
}