.File{
    min-width: auto;
    height: 40px;
    color: #E6E6E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    background-color: #1D1D1D;
    position: relative;
    z-index: 4 !important;
    white-space: nowrap;
}

.FileChangedIndicator{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin-left: 5px;
}


.FileHover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 6;
}

.FileHoverActive{
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
}

.FileSelected{
    height: 39px;
    border-bottom: solid 1px coral;
}

.FileSelected, .FileTitleActivated > .FileCloseIcon{
    opacity: 1 !important;
}

.FileCloseIcon{
    opacity: 0;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    padding: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 7px;
}

.FileCloseIcon:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.File:hover .FileCloseIcon{
    opacity: 0.3;
}

.FileTitle{
    padding-left: 15px;
}

.FileTitleActivated{
    color: rgba(255, 255, 255, 1);
}

.FileTitleDesactivated{
    color: rgba(255, 255, 255, 0.5);
}